.main-frame {
  display: grid;
  grid-template-columns: minmax(0,1fr) 350px;
  grid-column-gap: 12px;
  grid-auto-rows: max-content;
  z-index: 100;
  margin-top: 12px !important;
  margin-right: auto !important;
  margin-bottom: 12px !important;
  margin-left: auto !important;
}

.dropdown:hover .dropdown-content {
  display:inline;
  
}

.navbar {
  width: 100%;
  top: 0; /* Position the navbar at the top of the page */
  padding: 8px 10px 0px 10px;
   position: fixed;
   z-index: 1;

}
/* Change background on mouse-over */
.navbar a:hover {
  background: rgb(201, 190, 244);
  color: black;
}
.comp_frame {
  display: flex;
  grid-auto-rows: max-content;
  z-index: 100;
  margin-top: 12px !important;
  margin-right: auto !important;
  margin-bottom: 12px !important;
  margin-left: auto !important;
}

#box {
  
  grid-template-columns: 180px 180px 180px;
  align-items:center;
  justify-content: space-between;
  vertical-align:middle;
  padding: 25px; 
  background-color:rgb(174, 224, 249);
  width: auto;
  border-radius: 5px;
  padding-top:50px;
  grid-auto-rows: max-content;
  display: inline;
}

#box-left {
  float: left;
  image-rendering: auto;
  justify-content: center;
  vertical-align: bottom;
  margin-left:5px;
  margin-right: 5px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top:50px;
  padding: 25px; 
  background-color:rgb(185, 54, 211);
  border-radius: 5px;
  min-width: 500px;
  position: relative;
  z-index: -1;
}

#box-right {
  vertical-align: bottom;
  padding: 25px; 
  background-color:rgb(133, 153, 240);
  width:fit-content;
  height: max-content;
  border-radius: 5px;
  padding-top:100px;
  position: relative;
  grid-auto-rows: max-content;
  z-index:-1;
}

#box-data {
  vertical-align: top;
  padding: 25px; 
  padding-top:50px;
  margin-top: 12px;
  background-color:linen;
  height: max-content;
  border-radius: 5px;
}

#box-1 {
  display: grid;
  grid-template-columns: minmax(0,1fr) 350px;
  grid-column-gap: 12px;
  justify-content:center;
  margin-top: 30px;
  padding: 5px; 
  border-radius: 5px;
}

#box-2 {
  display: inline-block;
  margin:0px;
  padding: 25px; 
  border-radius: 0px;
  width:100%;
}

#header-1 {
  display: block; 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 25px;
  padding: 15px; 
  background-color:moccasin;
  border-radius: 5px;
  position: relative;
}

#headers {
  font-size:40px;
}

#default {
  background-color: rgb(177, 191, 206);
}

#viz-text {
  margin-top: 10px;
}

#summary_img {
  float:left;
  width: 50%;
  margin-right: 15px;
}

#main_img {
  width: max-content;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#comp_img {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
    text-align: center;
    margin-top: 25px;
}


@media screen and (max-width: 770px) {

  .main-frame {
    display: inline-block;
    margin-top: 12px !important;
    margin-right: 0 !important;
    margin-bottom: 12px !important;
    margin-left: 0 !important;
  }

  #box {
    display:contents;
    margin:0px;
    margin-left: 0px;
    padding: 15px; 
    background-color:moccasin;
    border-radius: 0px;
  }

  #box-1 {
    display: flex;
    margin:0px;
    padding: 25px; 
    border-radius: 0px;
    width:100%;
  }

  #default {
    margin: 0px;
    background-color: linen;
  }

  #headers {
    font-size:30px;
    text-align: center;
  }

  
}